body{
    background-color:  rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card{
    
    padding: 0.8em;
    background-color: rgb(255, 255, 255);
}