@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap);
*{
    margin: 0;
    padding: 0;
}
*, *::before, *::after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-family: Inter,sans-serif;
}
body{
    background: rgba(210, 210, 210, 1);
}
.container{  
    display: flex;
    justify-content: center;
    margin-top: 1em; 
}
.card{
    width: 400px;
    height: 400px;
    margin: 10px;
    box-shadow: slategrey;
}
.card p{
    padding-bottom: 2em;
    border-bottom: 1px solid black;
}
.card h1,span, p{
    margin-bottom: 1em;
}
.card-image img{
    height: 400px;
    width: 400px;
    margin-bottom: 10px;
}
.card-footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: 300;
    
}
.card-footer span{
    padding-left: 10px;
}
.text{
    font-weight: 300;
    color: #999999;
    padding-left: 10em;
    margin-left: 10em;
}
.card-footer img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}