@using MVC_Demo.Models.Product;
@model ProductViewModel;

@{
	ViewData["Title"] = "Product Id: " + Model.Id;
}
<div class="card">
	<div class="card-header text-black">
		@ViewData["Title"]
	</div>
	<div class="card-body text-black">
		<h5 class="card-title">
			Product Name: @Model.Name
		</h5>
		<p class="card-text">
			Price: @Model.Price lv.
		</p>
	</div>
</div>
