body{
    background-color: #e4e978;
}
section article{
    font-style: italic;
    color: #4c7658;
}
article{
    background-color: #f2f4c0;
    padding: 5px 15px;
    width: 700px;
    border: 1px solid #b2ad7d;
    width: 700px;
    margin: 15px 10px;
}