@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
*{
    margin: 0;
    padding: 0;
}
*, *::before, *::after{
    box-sizing: inherit;
}
html,body{
    font-family: Courgette, cursive;
    background-color: gray;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h2{
    position: relative;
    right: -50px;
    color: red;
}
.container{  
    display: flex;
    justify-content: center;
    margin-top: 1em; 
}
.card{
    max-width: 500px;
    max-height: 100vh;
    margin: 15px;
    border-radius: 25px;
    background-color: white;
}
.card-img img{
    max-width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.title{
    text-align: center;
    background-color: white;
}
hr{
    background-color: red;
    margin: 15px 15px;
}
.content{
    text-align: center;
}
.more{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px 0px;
}
.icon{
    width: 20px;
    height: 20px;
    background-color: red;
    margin-left: 6px;
    border-radius: 50px;
}
.icon i{
    color: white;
    padding-left: 5px;
}
